<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.agencyenterprise.slashpad</string>
	<key>CFBundleName</key>
	<string>Slashpad</string>
	<key>CFBundleDisplayName</key>
	<string>Slashpad</string>
	<key>CFBundleExecutable</key>
	<string>slashpad</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
